body{
    font-family: 'PT Sans Narrow', sans-serif;
    margin: 0;
}
h1{
    font-size: 60px;
}
.color-orange{
    color:orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 8%;
}
.half-width img{
    width: 80%;
    height: 100%;
}
.link-button{
    text-decoration: none;
    background-color: rgb(231, 95, 45);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 5%;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.width-2ndhalf{
    width: 80%;
    height: 100%;
}
.dream-color{
    color: rgba(243, 188, 9, 0.892);
    font-size: larger;
    font-family: sans-serif;
}